#!/bin/sh -l
numTrials=1000

# Initialize the sim time
T=200
timePart=T$T
# Compile the code before running it
g++ particlesim.cpp mersenne_twister.hpp -o partsim

for i in $(seq 263 $numTrials)
do
# Specify the seed
seed=$i
seedPart=S$seed
flowPart=E1.0
name=$timePart$seedPart$flowPart

qsub -v seed=$seed,T=$T -N $name autsim.sh

done
